#header1:hover{
    background-color: yellow;
}
#header2:hover{
    background-color: lightcoral;
}
#header3:hover{
    background-color:lightseagreen;
}
#header4:hover{
    background-color: lightskyblue;
}
#header5:hover{
    background-color: pink;
}
#header6:hover{
    background-color: rgb(171, 224, 85);
}